{% extends 'base.html.twig' %}

{% block title %}Edit account{% endblock %}

{% block body %}
    <h1>Edit account:</h1>
    {{ form_start(accountForm) }}
        {{ form_row(accountForm.name) }}
        {{ form_row(accountForm.icon) }}
        {{ form_row(accountForm.initialBalance) }}
        {{ form_row(accountForm._token) }}
        <button type="submit">Save changes</button>
    {{ form_end(accountForm) }}
{% endblock %}
