{% extends 'base.html.twig' %}

{% block title %}Account list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('account_new') }}">Add account</a>
    </div>
    <h1>Accounts:</h1>
    <table>
        <thead>
            <th>Icon</th>
            <th>Name</th>
            <th>Initial balance</th>
            <th>Current balance</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for accountBalance in accountBalances %}
            <tr>
                <td><img src="#" alt=""></td>
                <td>{{ accountBalance.account.name }}</td>
                <td style="text-align: right">{{ accountBalance.account.initialBalance|currency }}</td>
                <td style="text-align: right">{{ accountBalance.value|currency }}</td>
                <td>
                    <a href="{{ path('account_edit', {'id': accountBalance.account.id}) }}">Edit</a>
                    <a href="#"
                       class="js-account-delete"
                       data-name="{{ accountBalance.account.name }}"
                       data-url="{{ path('account_delete', {'id': accountBalance.account.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right">
                    <strong>Total:</strong>
                </td>
                <td style="text-align: right">
                    <strong> {{ (total-fundBalance)|currency }} </strong>
                </td>
                <td></td>
            </tr>
            {% if fundBalances is not empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right">
                        {% if fundBalance >= 0 %}<span>+</span>{% endif %}
                        {{- fundBalance|currency -}}
                    </td>
                    <td> in <a href="{{ path('fund_index') }}">funds</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('account') }}
{% endblock %}
