<div style="float: left">
    <a href="{{ path('operation_new', {'operationName': 'expense'}) }}">Add expense</a> |
    <a href="{{ path('operation_new', {'operationName': 'income'}) }}">Add income</a> |
    <a href="{{ path('operation_new', {'operationName': 'transfer'}) }}">Add transfer</a>
</div>
<div style="float: right">
    <a href="{{ path('operation_new', {'operationName': 'dept'}) }}">Add dept</a> |
    <a href="{{ path('operation_new', {'operationName': 'repayment'}) }}">Add repayment</a>
</div>
<div style="clear: both"></div>
<div style="float: right">
    <a href="{{ path('operation_new', {'operationName': 'loan'}) }}">Add loan</a> |
    <a href="{{ path('operation_new', {'operationName': 'dept-collection'}) }}">Add dept collection</a>
</div>
