{% if operation.type == typeIncome and operation.fund is null %}
    {% set amountFontColor = 'green' %}
{% elseif operation.type == typeExpense and operation.fund is null  %}
    {% set amountFontColor = 'darkblue' %}
{% elseif operation.type == typeTransfer or operation.fund is not null  %}
    {% set amountFontColor = 'gray' %}
{% elseif operation.type == typeDebt %}
    {% set amountFontColor = 'red' %}
{% elseif operation.type == typeLoan %}
    {% set amountFontColor = '#FF6103' %}
{% else %}
    {% set amountFontColor = 'inherit' %}
{% endif %}

<div class="operation-item">
    <p class="operation-main-line">
        <span style="display: inline-block">
            {% if operation.description is not empty %}
                {{ operation.description }}
            {% elseif operation.category is not empty %}
                {{ operation.category.name|lower }}
            {% else %}
                {{ operation.type|operation_name|lower }}
            {% endif %}
        </span>
        <span style="float: right; color: {{ amountFontColor }};">
            {% if operation.type == typeIncome %}         &plus; {% endif %}
            {% if operation.type == typeExpense %}        &ndash; {% endif %}
            {% if operation.type == typeTransfer %}       &harr; {% endif %}
            {% if operation.type == typeDebt %}           &plus; {% endif %}
            {% if operation.type == typeRepayment %}      &ndash; {% endif %}
            {% if operation.type == typeLoan %}           &ndash; {% endif %}
            {% if operation.type == typeDebtCollection %} &plus; {% endif %}
            {{ operation.amount|currency }}
        </span>
    </p>
    <p class="operation-sub-line">
        <span style="float: left; font-size: small; color: gray">
            {% if operation.category %}
                {{ operation.category.name }}
            {% endif %}
            {% if operation.type == typeDebt %}           debt from {{ operation.person }}      {% endif %}
            {% if operation.type == typeRepayment %}      debt paid to {{ operation.person }}   {% endif %}
            {% if operation.type == typeLoan %}           loan to {{ operation.person }}        {% endif %}
            {% if operation.type == typeDebtCollection %} loan paid from {{ operation.person }} {% endif %}
        </span>
        <span style="float: right; font-size: small; color: gray">
            {% if operation.fund is not null %} [{{ operation.fund.name }}] {% endif %}
            {% if operation.type == typeIncome %}         {{ operation.target }}                          {% endif %}
            {% if operation.type == typeExpense %}        {{ operation.source }}                          {% endif %}
            {% if operation.type == typeTransfer %}       {{ operation.source }} > {{ operation.target }} {% endif %}
            {% if operation.type == typeDebt %}           {{ operation.target }}                          {% endif %}
            {% if operation.type == typeRepayment %}      {{ operation.source }}                          {% endif %}
            {% if operation.type == typeLoan %}           {{ operation.source }}                          {% endif %}
            {% if operation.type == typeDebtCollection %} {{ operation.target }}                          {% endif %}
        </span>
        <span style="display: block; clear: both"></span>
    </p>
    <p class="operation-toolbar">
        <a href="{{ path('operation_edit', {'id': operation.id}) }}">Edit</a> |
        <a href="{{ path('operation_copy', {'id': operation.id}) }}">Copy</a> |
        <a href="#"
           class="js-operation-delete"
           data-url="{{ path('operation_delete', {'id': operation.id}) }}"
           data-description="{{ operation.description }}"
           data-amount="{{ operation.amount|currency }}">Delete</a>
    </p>
</div>
