<br>
<br>
<br>
<br>
<br>

<table>
    <thead>
    <th>Date</th>
    <th>Source</th>
    <th>Target</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Description</th>
    <th>Person</th>
    <th>Actions</th>
    </thead>
    <tbody>
    {% for operation in plainOperationList %}
        <tr>
            <td>{{ operation.date|date('d.m.Y') }}</td>
            <td>{% if operation.source is not null %}{{ operation.source.name }}{% endif %}</td>
            <td>{% if operation.target is not null %}{{ operation.target.name }}{% endif %}</td>
            <td align="right">{{ operation.amount|currency }}</td>
            <td>{% if operation.category is not null %}{{ operation.category }}{% endif %}</td>
            <td>{{ operation.description }}</td>
            <td>{% if operation.person %}{{ operation.person.name }}{% endif %}</td>
            <td>
                <a href="{{ path('operation_edit', {'id': operation.id}) }}">Edit</a>
                <a href="#"
                   class="js-operation-delete"
                   data-url="{{ path('operation_delete', {'id': operation.id}) }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
