{% extends 'base.html.twig' %}

{% block title %}Operation list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('operation_new', {'operationName': 'expense'}) }}">Add expense</a> |
        <a href="{{ path('operation_new', {'operationName': 'income'}) }}">Add income</a> |
        <a href="{{ path('operation_new', {'operationName': 'transfer'}) }}">Add transfer</a>
    </div>
    <h1>Operations:</h1>
    <table>
        <thead>
            <th>Date</th>
            <th>Source</th>
            <th>Target</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for operation in operations %}
                <tr>
                    <td>{{ operation.date|date('d.m.Y') }}</td>
                    <td>{% if operation.source is not null %}{{ operation.source.name }}{% endif %}</td>
                    <td>{% if operation.target is not null %}{{ operation.target.name }}{% endif %}</td>
                    <td align="right">{{ operation.amount|currency }}</td>
                    <td>{% if operation.category is not null %}{{ operation.category }}{% endif %}</td>
                    <td>{{ operation.description }}</td>
                    <td>{{ operation.createdAt|date('d.m.Y H:i:s') }}</td>
                    <td>{{ operation.updatedAt|date('d.m.Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('operation_edit', {'id': operation.id}) }}">Edit</a>
                        <a href="#"
                           class="js-operation-delete"
                           data-url="{{ path('operation_delete', {'id': operation.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('operation') }}
{% endblock %}
