{% set typeIncome         = constant('App\\Enum\\OperationTypeEnum::TYPE_INCOME') %}
{% set typeExpense        = constant('App\\Enum\\OperationTypeEnum::TYPE_EXPENSE') %}
{% set typeTransfer       = constant('App\\Enum\\OperationTypeEnum::TYPE_TRANSFER') %}
{% set typeDept           = constant('App\\Enum\\OperationTypeEnum::TYPE_DEPT') %}
{% set typeRepayment      = constant('App\\Enum\\OperationTypeEnum::TYPE_REPAYMENT') %}
{% set typeLoan           = constant('App\\Enum\\OperationTypeEnum::TYPE_LOAN') %}
{% set typeDeptCollection = constant('App\\Enum\\OperationTypeEnum::TYPE_DEPT_COLLECTION') %}

{% extends 'base.html.twig' %}

{% block title %}Operation list{% endblock %}

{% block body %}
    {{ include('operation/_index_navbar.html.twig') }}
    <div>
        <h1>Operations:</h1>
        {% for operationDate, operationGroup in groupedOperations %}
            <div class="date-header">
                {{ operationDate|date_human }}
            </div>
            <div>
                {% for operation in operationGroup %}
                    {% include('operation/_index_item.html.twig') %}
                {% endfor %}
            </div>
            <hr>
        {% endfor %}
    </div>

    {{ include('operation/_index_old_table.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('operation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('operation') }}
{% endblock %}
