{% set typeIncome         = constant('App\\Enum\\OperationTypeEnum::TYPE_INCOME') %}
{% set typeExpense        = constant('App\\Enum\\OperationTypeEnum::TYPE_EXPENSE') %}
{% set typeTransfer       = constant('App\\Enum\\OperationTypeEnum::TYPE_TRANSFER') %}
{% set typeDebt           = constant('App\\Enum\\OperationTypeEnum::TYPE_DEBT') %}
{% set typeRepayment      = constant('App\\Enum\\OperationTypeEnum::TYPE_REPAYMENT') %}
{% set typeLoan           = constant('App\\Enum\\OperationTypeEnum::TYPE_LOAN') %}
{% set typeDebtCollection = constant('App\\Enum\\OperationTypeEnum::TYPE_DEBT_COLLECTION') %}

{% extends 'base.html.twig' %}

{% block title %}Operation list{% endblock %}

{% block body %}
    {{ include('operation/_index_navbar.html.twig') }}
    <div style="position: absolute; top: 35px; left: 100px">
        <div>
            <strong>Accounts:</strong>
            <table>
                <tbody>
                {% for accountBalance in accountBalances %}
                    {% if not accountBalance.account.archived %}
                        <tr>
                            <td>
                                {{ accountBalance.account.name }}
                            </td>
                            <td style="text-align: right; {% if archived %} text-decoration-line: line-through {% endif %}">
                                {{ accountBalance.value|currency }}
                            </td>
                            <td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td style="text-align: right">
                        <strong>Total:</strong>
                    </td>
                    <td style="text-align: right">
                        <strong> {{ (total-fundBalance)|currency }} </strong>
                    </td>
                    <td></td>
                </tr>
                {% if fundBalances is not empty %}
                    <tr>
                        <td></td>
                        <td style="text-align: right">
                            {% if fundBalance >= 0 %}<span>+</span>{% endif %}
                            {{- fundBalance|currency -}}
                        </td>
                        <td> in funds</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div style="padding-top: 20px">
            <strong>Last 30 days statistic</strong><br>
            Expenses: {{ expenseSum|currency }}<br>
            Incomes: {{ incomeSum|currency }}
        </div>
    </div>
    <div>
        {% for operationDate, operationGroup in groupedOperations %}
            <div class="date-header">
                {{ operationDate|date_human }}
            </div>
            <div>
                {% for operation in operationGroup %}
                    {% include('operation/_index_item.html.twig') %}
                {% endfor %}
            </div>
            <hr class="date-separator">
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('operation') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('operation') }}
{% endblock %}
