{% extends 'base.html.twig' %}

{% block title %}New income{% endblock %}

{% block body %}
    <h1>Create new income:</h1>
    {{ form_start(operationForm) }}
        {{ form_row(operationForm.date) }}
        {{ form_row(operationForm.target) }}
        {{ form_row(operationForm.amount) }}
        {{ form_row(operationForm.category) }}
        {{ form_row(operationForm.description) }}
        {{ form_row(operationForm._token) }}
        <button type="submit">Save new income operation</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
