{% extends 'base.html.twig' %}

{% block title %}New dept collection{% endblock %}

{% block body %}
    <h1>Create new dept collection:</h1>
    {{ form_start(operationForm) }}
        {{ form_row(operationForm.date) }}
        {{ form_row(operationForm.person) }}
        {{ form_row(operationForm.source) }}
        {{ form_row(operationForm.target) }}
        {{ form_row(operationForm.amount) }}
        {{ form_row(operationForm.description) }}
        {{ form_row(operationForm.tag) }}
        {{ form_row(operationForm._token) }}
        <button type="submit">Save new dept collection operation</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
