{% extends 'base.html.twig' %}

{% block title %}New income{% endblock %}

{% block body %}
    {{ form_start(operationForm) }}
        {{ form_row(operationForm.target) }}
        {{ form_row(operationForm.amount) }}
        {{ form_row(operationForm._token) }}
        <button type="submit">Save</button>
    {{ form_end(operationForm, {'render_rest': false}) }}
{% endblock %}
