{% extends 'base.html.twig' %}

{% block title %}Person list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('person_new') }}">Add person</a>
    </div>
    <h1>Persons:</h1>
    <table>
        <thead>
            <th>Icon</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for person in persons %}
            <tr>
                <td><img src="#" alt=""></td>
                <td>{{ person.name }}</td>
                <td>{{ person.description }}</td>
                <td>{{ person.createdAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ person.updatedAt|date('d.m.Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('person_edit', {'id': person.id}) }}">Edit</a>
                    <a href="#"
                       class="js-person-delete"
                       data-name="{{ person.name }}"
                       data-url="{{ path('person_delete', {'id': person.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('person') }}
{% endblock %}
