{% extends 'base.html.twig' %}

{% block title %}Fund list{% endblock %}

{% block body %}
    <div style="float: right">
        <a href="{{ path('fund_new') }}">Add fund</a>
    </div>
    <h1>Funds:</h1>
    <table>
        <thead>
        <th>Icon</th>
        <th>Name</th>
        <th>Description</th>
        <th>Person</th>
        <th>Initial balance</th>
        <th>Current balance</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for fundBalance in fundBalances %}
            <tr>
                <td><img src="#" alt=""></td>
                <td>{{ fundBalance.fund.name }}</td>
                <td>{{ fundBalance.fund.description }}</td>
                <td>{{ fundBalance.fund.person }}</td>
                <td style="text-align: right">{{ fundBalance.fund.initialBalance|currency }}</td>
                <td style="text-align: right">{{ fundBalance.value|currency }}</td>
                <td>
                    <a href="{{ path('fund_edit', {'id': fundBalance.fund.id}) }}">Edit</a>
                    <a href="#"
                       class="js-fund-delete"
                       data-name="{{ fundBalance.fund.name }}"
                       data-url="{{ path('fund_delete', {'id': fundBalance.fund.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right">
                    <strong>Total:</strong>
                </td>
                <td style="text-align: right">
                    <strong> {{ fundBalance|currency }} </strong>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('fund') }}
{% endblock %}
